
<div *ngIf="displayCaptcha">
  <div>gogogo</div>
  <re-captcha
    (resolved)="handleRecaptchaConfirmSignIn($event)"
    siteKey="6LcD5UMpAAAAAJD3mPyx98vfmiPylpUGUxAuwraC"
  ></re-captcha>
</div>
<amplify-authenticator [formFields]="formFields" [services]="services">



  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <app-header [title]="'Welcome, ' + user.username" [onSignOut]="signOut"></app-header>

    <router-outlet></router-outlet>

    <app-footer></app-footer>
  </ng-template>
</amplify-authenticator>
