<p>admin works!</p>
<div class="user-list">
  <div *ngIf="viewStatus$ | async as viewStatus ">
    <div *ngIf="equals(viewStatus, ViewStatus.Initial)">Initializing...</div>

    <div
      *ngIf="
        or(
          equals(viewStatus, ViewStatus.Loading),
          equals(viewStatus, ViewStatus.Reloading)
        )
      "
      class="loading"
    >
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <mat-hint>Fetching users from cognito...</mat-hint>
    </div>

    <div *ngIf="equals(viewStatus, ViewStatus.Failure)" class="error">
      Error loading users
    </div>

    <ng-container *ngIf="equals(viewStatus, ViewStatus.Success)">
      <ng-container *ngIf="userList$ | async as users">
        <div class="user-cards">
          <ng-container *ngFor="let user of users">
            <div class="user-card">
              <div class="user-card-header">
                <h2>{{ user.Username }}</h2>
                <p>{{ user.UserStatus }}</p>
              </div>
              <div class="user-card-content">
                <p><strong>Enabled:</strong> {{ user.Enabled }}</p>
                <p><strong>Created:</strong> {{ user.UserCreateDate | date }}</p>
                <p><strong>Last Modified:</strong> {{ user.UserLastModifiedDate | date }}</p>
                <p><strong>Attributes:</strong></p>
                <ul>
                  <li *ngFor="let attribute of user.Attributes">
                    {{ attribute.Name }}: {{ attribute.Value }}
                  </li>
                </ul>
              </div>
              <div class="user-card-actions">
                <button>Disable</button>
                <button>Reset Password</button>
                <button>Remove from Group</button>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
